[Unit]
Description=Somedescription
Documentation=https://github.com/romankuchin/ica0002-2022/blob/main/08-logging/README.md
After=network-online.target

[Service]
User=root
ExecStart=/usr/local/bin/keepalived-exporter/keepalived-exporter-1.2.0.linux-amd64/keepalived-exporter

[Install]
WantedBy=multi-user.target