apiVersion: 1

datasources:
  - name: influxdb-pinger
    type: influxdb
    access: proxy
    orgId: 1
    uid: "influxdb-pinger"
    url: "http://EdvinToome-2:8086"
    database: latency
    isDefault: true
    version: 1
    editable: true