apiVersion: 1

datasources:
  - name: prometheus
    type: prometheus
    access: proxy
    orgId: 1
    uid: "prometheus"
    url: "http://{{ groups['grafana_servers'][0] }}:9090/prometheus"
    isDefault: true
    version: 1
    editable: true

  - name: influxdb-pinger
    type: influxdb
    access: proxy
    orgId: 1
    uid: "influxdb-pinger"
    url: "http://{{ groups['grafana_servers'][0] }}:8086"
    database: latency
    httpMethod: 'POST'
    version: 1
    editable: true

  - name: influxdb-telegraf
    type: influxdb
    access: proxy
    orgId: 1
    uid: "influxdb-telegraf"
    url: "http://{{ groups['grafana_servers'][0] }}:8086"
    database: telegraf
    httpMethod: 'POST'
    version: 1
    editable: true