[Unit]
Description=InfluxDB exporter
After=network-online.target
[Service]
User=prometheus
Group=prometheus
Type=simple
ExecStart=/usr/local/bin/influxdb_exporter
[Install]
WantedBy=multi-user.target

