zone "larsenbiscuits.io" {
    {% if inventory_hostname in groups['dns_masters'] %}
    type master;
    allow-update {key dns_update_key;};
	allow-transfer {key dns_transfer_key;};
    {% else %}
    type slave;
    masters { {{ hostvars[groups['dns_masters'][0]]['ansible_default_ipv4']['address'] }}  ; };
    {% endif %}

    file "db.larsenbiscuits.io";
};   

{% if inventory_hostname in groups['dns_slaves'] %}

server {{ hostvars[groups['dns_masters'][0]]['ansible_default_ipv4']['address'] }} {
    keys {dns_transfer_key;};
};

{% endif %}

zone "168.192.in-addr.arpa" {
    {% if inventory_hostname in groups['dns_masters'] %}
	type master;
	allow-update {key dns_update_key;};
	allow-transfer {key dns_transfer_key;};
	{% else %}
	type slave;
	masters {
	{% for host in groups['dns_masters'] %}
	    {{ hostvars[host]['ansible_default_ipv4']['address'] }};
	{% endfor %}
	};
    {% endif %}
	file "db.rev";
};