#jinja2: lstrip_blocks: "True"
{{ prometheus_var_config | to_nice_yaml(indent=2) }}
{% if prometheus_node_exporter_group %}
- job_name: linux
  scrape_interval: 15s
  static_configs:
  - targets:
{% for server in groups[prometheus_node_exporter_group] %}
    - {{ server }}:9100
{% endfor %}
{% endif %}
- job_name: bind9
  scrape_interval: 15s
  static_configs:
  - targets:
    - EdvinToome-2:9119
- job_name: nginx
  scrape_interval: 15s
  static_configs:
  - targets:
    - EdvinToome-2:9113
- job_name: mysqld
  scrape_interval: 15s
  static_configs:
  - targets:
    - EdvinToome-2:9104