#jinja2: lstrip_blocks: "True"
{{ prometheus_var_config | to_nice_yaml(indent=2) }}
{% if prometheus_node_exporter_group %}
- job_name: linux
  scrape_interval: 15s
  static_configs:
  - targets:
{% for server in groups[prometheus_node_exporter_group] %}
    - {{ server }}:{{ node_exporter_port }}
{% endfor %}
{% endif %}
- job_name: bind9
  scrape_interval: 15s
  static_configs:
  - targets:
    - EdvinToome-1:9119
    - EdvinToome-2:9119
- job_name: nginx
  scrape_interval: 15s
  static_configs:
  - targets:
    - EdvinToome-1:{{ nginx_exporter_port }}
    - EdvinToome-2:{{ nginx_exporter_port }}
    - EdvinToome-3:{{ nginx_exporter_port }}
- job_name: mysql
  scrape_interval: 15s
  static_configs:
  - targets:
    - EdvinToome-2:{{ mysql_exporter_port }}
- job_name: influxdb
  scrape_interval: 15s
  static_configs:
  - targets:
    - EdvinToome-3:9424
- job_name: haproxy
  scrape_interval: 15s
  static_configs:
  - targets:
    - EdvinToome-1:9101
- job_name: keepalived
  scrape_interval: 15s
  static_configs:
  - targets:
    - EdvinToome-1:9165
    - EdvinToome-2:9165